/* Contenitore principale */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5; /* Sfondo chiaro per un look più moderno */
}

/* Titolo */
.TitoloAccessoCoach {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-top: 50px;
    position: relative;
    text-align: center;
    display: block;
    margin-left: 40px; /* Sposta il titolo leggermente a destra */
}

/* Logo */
.logoAccessoCoach {
    width: 200px;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Lista Clienti */
.ListaClienti {
    width: 100%;
    max-width: 500px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

/* Titolo della lista */
.TitoloListaClienti p {
    font-size: 22px;
    color: #222;
    margin-bottom: 15px;
}

/* Stile per il la lista non ordinata */
.ListaClienti ul {
    list-style: none;
    padding: 0;
    text-align: center;
}


/* Ogni elemento della lista */
.ListaClienti li {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

/* Ultimo elemento senza bordo */
.ListaClienti li:last-child {
    border-bottom: none;
}

/* Hover sui clienti */
.cliente-link:hover {
    color: #0056b3;
    text-decoration: underline;
    transform: scale(1.05);
}


/* Stile per i bottoni dei clienti */
.cliente-button {
    display: block;
    padding: 12px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.cliente-button:hover {
    background-color: #00a906;
    color: white;
    transform: scale(1.05);
}
