.login-button {
  position: static;
  background-color: #4CAF50;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  width: 100%;
  margin-top: 0px;
  background: linear-gradient(to right, rgb(0, 221, 255), rgb(51, 183, 51));
}

p.title {
  text-align: center;
  font-size: 40px;
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  margin-top: -80px;
  font-weight: bold;
}

p.subtitle {
  text-align: center;
  font-size: 22px;
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  margin-top: -10px;
  font-weight: lighter;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 440px;
  height: 459px;
  margin-top: -130px;
}

/* posizioniamo i pulsanti in linea */
.button-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 40px; 
  margin-top: 50px;
}

/* Stili dei bottoni */
.ChiSiamo, .Esperti, .Contatti {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
  border: 2px solid;
  padding: 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

/* Colori specifici per ogni pulsante */
.ChiSiamo {
  color: #00a906;
  border-color: #00a906;
}

.Esperti {
  color: #11b5b8;
  border-color: #11b5b8;
}

.Contatti {
  color: #00a906;
  border-color: #00a906;
}

/* Effetto hover */
.ChiSiamo:hover, .Esperti:hover, .Contatti:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
