.logoResetPassword 
{
    position: fixed;   /* Fissa il logo rispetto alla viewport */
    top: 20px;         /* Distanza dal bordo superiore */
    right: 20px;       /* Distanza dal bordo destro */
    width: 150px;
    height: 155px;
    z-index: 1000;     /* Garantisce che il logo rimanga sopra gli altri elementi */
}

.RecuperaPassword
{
  position: absolute;
  left: 39.5%;
  width: 200px;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.8);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 4px solid #000000; ;
  border-image: linear-gradient(to right,
                                rgb(0, 221, 255),
                                rgb(51, 183, 51),
                                #1ccf22) 1;
}




.TitoloResetPassword
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.button-ResetPassword
{
  width: 50%;
  background: linear-gradient(to right,rgb(0, 221, 255), rgb(51, 183, 51));
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  margin-top: 250px;
  margin-left: -13px;
  border: none;
    
    
}

.TitoloPiattaformaResetPassword
{
  text-align: center;
  font-size: 60px;
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  margin-top: -150px;
  margin-left: 0%;
  
 
}